name: "EC2 Server Update"
on:
  push:
    branches: "main"
jobs: 
  buildImage:
    name: "Building Container Image of Server"
    runs-on: ubuntu-latest
    environment: secrets
    steps:
      - name: "checkout to code"
        uses: actions/checkout@main
      - name: "building image"
        run: |
          docker build -t learning/minimal-node-server .
          docker images
      - name: "pushing image to ECR"
        env: 
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 007572786776.dkr.ecr.us-east-1.amazonaws.com
          docker tag learning/minimal-node-server:latest 007572786776.dkr.ecr.us-east-1.amazonaws.com/learning/minimal-node-server:latest
          docker push 007572786776.dkr.ecr.us-east-1.amazonaws.com/learning/minimal-node-server:latest
          echo "Container Image Pushed to ECR"
      - name: "Running New Image on Ec2"
        env: 
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          if command -v session-manager-plugin >/dev/null 2>&1; then
            echo "Session Manager Plugin is installed"
          else
            echo "Session Manager Plugin is NOT installed"
            echo "Installing Session Manger Plugin ..."
            curl "https://s3.amazonaws.com/session-manager-downloads/plugin/latest/ubuntu_64bit/session-manager-plugin.deb" -o "session-manager-plugin.deb"
            sudo dpkg -i session-manager-plugin.deb
            aws ssm start-session --target "i-016e18ffc42a90e46"
          fi

        
          
          
          
          
